.circle {
	border-radius: 100%
}

.orange-circle {
	background-color: rgb(252, 194, 76);
}

.yellow-circle {
	background-color: rgb(254, 252, 73);
}

.red-circle {
	background-color: rgb(236, 59, 30);
}