.site-title {
	position: absolute;
  top: 2vh;
  left: 2vw;
  font-size: calc(36vw / 2);
  max-width: 38vw;
  line-height: calc(100vw / 6);
  word-break: break-all;
  font-weight: bolder;
}

#comeco >.circles-container {
  position: absolute;
  top: 12vh;
  right: 10vw;
  height: 300px;
  width: 300px;
  direction: rtl;
}

#comeco .circles-container >.yellow-circle {
  position: absolute;
  height: 100%;
  width: 100%;
  transition: 2s;
  animation-name: fadeIn;
  animation-duration: 3s;
  animation-delay: 1s;
  animation-fill-mode: both;
}

#comeco .circles-container >.orange-circle {
  position: absolute;
  top: 20px;
  right: 20px;
  height: 70%;
  width: 70%;
  transition: 1s;
  animation-name: fadeIn;
  animation-duration: 2s;
  animation-delay: .5s;
  animation-fill-mode: both;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

