.photo-creators {
  position: absolute;
  bottom: 10vh;
  left: 5vw;
}

.creators-image {
  width: calc(80px + 15vw);
}

.photo-creators figcaption {
  margin-top: 1vh;
  margin-left: 3vw;
  width: 30vw;
  text-align: end;
}

.photo-creators br {
  line-height: 2px;
}

.about-container {
  position: absolute;
  top: 15vh;
  left: 30vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-initial {
  align-self: flex-start;
}

.about-initial >.about-title {
  font-weight: bold;
  width: calc(1em + 5vw);;
  height: calc(1em + 5vw);;
  border-radius: 100%;
  font-size: calc(1em + 2vw);
  background-color: rgb(254, 252, 73);
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-container .yellow-circle {
  width: calc(30vw + 100px);
  height: calc(30vw + 100px);
  position: absolute;
  right: 10%;
  top: 5%;
}

.about-text-container {
  margin-top: 3vh;
  margin-left: 15px;
  text-align: end;
  width: 50vw;
  height: 50vh;
}