.nos-page {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 80%;
}

.photo-creators {
  align-self: flex-end;
  margin-left: 5%;
  margin-bottom: 5%;
}

.creators-image {
  width: calc(150px + 5vw);
}

.photo-creators figcaption {
  margin-top: 10%;
  width: 135%;
  text-align: end;
}

.photo-creators br {
  line-height: 2px;
}

.about-container {
  align-self: flex-end;
  margin-bottom: calc(8% + 250px + 8vh);


  display: flex;
  align-items: center;
  justify-content: center;
}
/* 
.about-initial {
  margin-top: 5vh;
  align-self: flex-start;
}

.about-initial >.about-title {
  font-weight: bold;
  width: calc(1em + 5vw);
  height: calc(1em + 5vw);
  border-radius: 100%;
  font-size: calc(1em + 2vw);
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-container .yellow-circle {
  width: calc(30vw + 100px);
  height: calc(30vw + 100px);
  position: absolute;
  right: 10%;
  top: 5%;
}

.about-text-container {
  margin-left: 25vh;
  text-align: end;
  width: 50vw;
  height: 50vh;
}

.about-text {
  /* margin-right: 25vw; */
  margin-left: -15vw;
  margin-top: 10vh;
  width: calc(40vw + 100px)
} */