.nos-page {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 80%;
}

.photo-creators {
  align-self: flex-end;
  margin-left: 5%;
  margin-bottom: 5%;
}

.creators-image {
  width: calc(150px + 5vw);
}

.photo-creators figcaption {
  margin-top: 10%;
  width: 135%;
  text-align: end;
}

.photo-creators br {
  line-height: 2px;
}

.about-container {
  align-self: flex-start;
  height: 70vh;
  width: 55vw;
  margin-left: 3%;
  display: flex;
  position: relative;
}

.about-title {
  font-weight: bold;
  width: calc(1em + 5vw);
  height: calc(1em + 5vw);
  font-size: calc(1em + 2vw);
}

.about-text {
  text-align: right;
  margin-top: 22px;
  z-index: 1;
} 

.about-text > p {
  font-size: calc(12px + 0.5vw);
}

.about-text > p:not(:first-child) {
  margin-top: 30px;
}

.about-container .yellow-circle {
  width: calc(15vw + 250px);
  height: calc(15vw + 250px);
  position: absolute;
  top: -10%;
  right: -10%;
}

/* .about-text-container {
  margin-left: 25vh;
  text-align: end;
  width: 50vw;
  height: 50vh;
} */
