

.circle-container > .red-circle {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  top: -40px;
  left: -80px;
  width: 350px;
  height: 350px;
}

.red-circle > .yellow-circle {
  display: flex;
  justify-content: flex-end;
  margin-right: 8%;
  margin-top: 6%;
  width: 235px;
  height: 235px;
}

.yellow-circle > .orange-circle {
  margin-right: 6%;
  margin-top: 8%;
  width: 140px;
  height: 140px;

}

#contato {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 20vw;
}

.partner-contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15px 0;
}

.partner-contact > h3, p, a {
  margin: 2.5px 0;
}

.partner-contact > h3 {
  font-weight: normal;
  font-size: calc(9px + 0.8vw)
}

.partner-contact > p {
  font-size: calc(11px + 0.8vw)
}

.partner-contact > a {
  font-size: calc(8px + 0.8vw)
}

.social-network-container {
  width: 60%;
  display: flex;
  justify-content: space-around;
  margin-top: 5%;
}

.network-icon {
  width: 30px
}